<h1>Admin::Question#index</h1>

<%= link_to "New Question", new_admin_question_path %>

<hr>

<ul>
<% @questions.each do |question| %>
  <li>
    <%= link_to question.question, [:admin, question] %>
  </li>
<% end %>
</ul>
